aiofiles==0.6.0
appdirs==1.4.4
argcomplete==1.12.3
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asgiref==3.4.1
asttokens==2.0.5
attrs==21.4.0
backcall==0.2.0
bcrypt==3.2.0
beautifulsoup4==4.11.1
bleach==5.0.0
CacheControl==0.12.10
cachy==0.3.0
certifi==2021.10.8
cffi==1.14.5
charset-normalizer==2.0.9
cleo==0.8.1
click==7.1.2
clikit==0.6.2
colorama==0.4.4
crashtest==0.3.1
cryptography==3.4.6
cx-Oracle==8.2.1
cycler==0.11.0
Cython==0.29.28
debugpy==1.6.0
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.13
distlib==0.3.1
Django==3.2.6
dnspython==2.1.0
easyocr==1.4.2
ecdsa==0.14.1
email-validator==1.1.2
entrypoints==0.4
et-xmlfile==1.1.0
executing==0.8.3
fastapi==0.63.0
fastapi-redis-cache==0.2.5
fastjsonschema==2.15.3
filelock==3.0.12
fonttools==4.33.3
form==0.0.1
freetype-py==2.2.0
Genshi==0.7.5
greenlet==1.0.0
gunicorn==20.0.4
h11==0.12.0
html5lib==1.1
idna==3.2
image==1.5.33
imageio==2.19.1
ipython==8.3.0
ipython-genutils==0.2.0
ipywidgets==7.7.0
jedi==0.18.1
Jinja2==3.1.2
joblib==1.1.0
jsonschema==4.5.1
jupyter==1.0.0
jupyter-client==7.3.1
jupyter-console==6.4.3
jupyter-core==4.10.0
jupyterlab-pygments==0.2.2
jupyterlab-widgets==1.1.0
keyring==21.8.0
kiwisolver==1.4.2
libusb==1.0.23b7
lockfile==0.12.2
lxml==4.6.3
MarkupSafe==2.1.1
mistune==0.8.4
msgpack==1.0.3
multipart==0.2.4
nest-asyncio==1.5.5
networkx==2.8
nltk==3.7
notebook==6.4.11
numpy==1.22.3
opencv-python==4.5.5.64
opencv-python-headless==4.5.4.60
openpyxl==3.0.9
packaging==21.3
pandas==1.4.2
pandocfilters==1.5.0
parso==0.8.3
passlib==1.7.4
pastel==0.2.1
pathlib==1.0.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.1.0
pkginfo==1.8.2
prometheus-client==0.14.1
prompt-toolkit==3.0.29
psutil==5.9.0
psycopg2==2.8.6
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.4.8
pycparser==2.20
pydantic==1.8.1
Pygments==2.12.0
pylev==1.4.0
pyparsing==3.0.6
pyrsistent==0.18.1
pyserial==3.5
pytesseract==0.3.9
python-barcode==0.13.1
python-bidi==0.4.2
python-dateutil==2.8.2
python-escpos==2.2.0
python-jose==3.2.0
python-multipart==0.0.5
pytz==2021.1
pyusb==1.2.1
PyWavelets==1.3.0
PyYAML==6.0
pyzmq==22.3.0
qrcode==7.3
qtconsole==5.3.0
QtPy==2.1.0
redis==4.1.3
regex==2022.4.24
relatorio==0.9.3
requests==2.26.0
requests-toolbelt==0.9.1
rsa==4.7.2
sbpl==0.1.2
scikit-image==0.19.2
scipy==1.8.0
seaborn==0.11.2
Send2Trash==1.8.0
shellingham==1.4.0
six==1.15.0
soupsieve==2.3.2.post1
SQLAlchemy==1.4.1
sqlparse==0.4.1
stack-data==0.2.0
starlette==0.13.6
terminado==0.13.3
tifffile==2022.5.4
tinycss2==1.1.1
tomlkit==0.7.2
torch==1.11.0
torchvision==0.12.0
tornado==6.1
tqdm==4.64.0
traitlets==5.1.1
typing-extensions==3.7.4.3
urllib3==1.26.7
uvicorn==0.13.4
virtualenv==20.4.3
wcwidth==0.2.5
webencodings==0.5.1
